USE [master]
GO
/****** Object:  Database [eRPT]    Script Date: 5/6/2016 10:56:17 AM ******/
CREATE DATABASE [eRPT]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'eRPT', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL13.SQLEXPRESS\MSSQL\DATA\eRPT.mdf' , SIZE = 4096KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB ), 
 FILEGROUP [binder_File] 
( NAME = N'eRPT_Binder_files', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL13.SQLEXPRESS\MSSQL\DATA\eRPT_Binder_files.ndf' , SIZE = 4096KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB ), 
 FILEGROUP [eRPT_fs] CONTAINS FILESTREAM  DEFAULT
( NAME = N'eRPT_fs', FILENAME = N'C:\eRPT_fs' , MAXSIZE = UNLIMITED)
 LOG ON 
( NAME = N'eRPT_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL13.SQLEXPRESS\MSSQL\DATA\eRPT_log.ldf' , SIZE = 1536KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [eRPT].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [eRPT]
GO
/****** Object:  User [test]    Script Date: 5/6/2016 10:56:17 AM ******/
CREATE USER [test] FOR LOGIN [test] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  User [GONZAGA\ejobes]    Script Date: 5/6/2016 10:56:17 AM ******/
CREATE USER [GONZAGA\ejobes] FOR LOGIN [GONZAGA\ejobes] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  Table [dbo].[Annotations]    Script Date: 5/6/2016 10:56:17 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Annotations](
	[annotation_ID] [int] IDENTITY(1,1) NOT NULL,
	[binder_ID] [int] NULL,
	[person_ID] [int] NULL,
	[annotationContent] [varbinary](max) NULL,
 CONSTRAINT [PK_Annotations] PRIMARY KEY CLUSTERED 
(
	[annotation_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Binder]    Script Date: 5/6/2016 10:56:17 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Binder](
	[binder_ID] [int] IDENTITY(1,1) NOT NULL,
	[binder_Name] [nchar](64) NULL,
	[label] [int] NULL,
	[submitted_Status] [nchar](64) NULL,
 CONSTRAINT [PK_Binder] PRIMARY KEY CLUSTERED 
(
	[binder_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[BinderFile]    Script Date: 5/6/2016 10:56:17 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BinderFile](
	[binder_ID] [int] NOT NULL,
	[binderFile_ID] [int] IDENTITY(1,1) NOT NULL,
	[file_ID] [uniqueidentifier] NULL,
	[binder_Tab] [int] NULL,
 CONSTRAINT [PK_BinderFile] PRIMARY KEY CLUSTERED 
(
	[binderFile_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[BinderRole]    Script Date: 5/6/2016 10:56:17 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BinderRole](
	[binder_ID] [int] NULL,
	[person_ID] [int] NULL,
	[binder_Role] [int] NULL,
	[binderRole_ID] [int] IDENTITY(1,1) NOT NULL,
 CONSTRAINT [PK_BinderRole] PRIMARY KEY CLUSTERED 
(
	[binderRole_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Committee]    Script Date: 5/6/2016 10:56:17 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Committee](
	[comm_ID] [int] IDENTITY(1,1) NOT NULL,
	[comm_Name] [varchar](50) NULL,
 CONSTRAINT [PK_Committee] PRIMARY KEY CLUSTERED 
(
	[comm_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[CommMember]    Script Date: 5/6/2016 10:56:17 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CommMember](
	[commMember_ID] [int] IDENTITY(1,1) NOT NULL,
	[comm_ID] [int] NULL,
	[person_ID] [int] NULL,
	[commHead] [int] NULL,
 CONSTRAINT [PK_CommMember] PRIMARY KEY CLUSTERED 
(
	[commMember_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Files]    Script Date: 5/6/2016 10:56:17 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Files](
	[file_Name] [nvarchar](50) NULL,
	[file_Desc] [nvarchar](50) NULL,
	[file_Path] [nchar](100) NULL,
	[file_ID] [uniqueidentifier] ROWGUIDCOL  NOT NULL,
	[content] [varbinary](max) FILESTREAM  NULL,
 CONSTRAINT [PK_Files] PRIMARY KEY CLUSTERED 
(
	[file_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY] FILESTREAM_ON [eRPT_fs],
 CONSTRAINT [UQ__Files__07E840FFAED0759E] UNIQUE NONCLUSTERED 
(
	[file_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] FILESTREAM_ON [eRPT_fs]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Person]    Script Date: 5/6/2016 10:56:17 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Person](
	[person_ID] [int] IDENTITY(1,1) NOT NULL,
	[person_First_Name] [nchar](50) NULL,
	[person_Last_Name] [nchar](50) NULL,
	[person_Zagweb_ID] [nchar](50) NULL,
 CONSTRAINT [PK_Person] PRIMARY KEY CLUSTERED 
(
	[person_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[PersonBF]    Script Date: 5/6/2016 10:56:17 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PersonBF](
	[binder_ID] [int] NOT NULL,
	[person_ID] [int] NULL,
	[begin_Date] [smalldatetime] NULL,
	[end_Date] [smalldatetime] NULL,
	[level] [int] NULL,
	[personBF_ID] [int] IDENTITY(1,1) NOT NULL,
	[file_ID] [uniqueidentifier] NULL,
 CONSTRAINT [PK_PersonBF] PRIMARY KEY CLUSTERED 
(
	[personBF_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
ALTER TABLE [dbo].[Annotations]  WITH CHECK ADD  CONSTRAINT [FK_Annotations_Binder] FOREIGN KEY([person_ID])
REFERENCES [dbo].[Person] ([person_ID])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[Annotations] CHECK CONSTRAINT [FK_Annotations_Binder]
GO
ALTER TABLE [dbo].[BinderFile]  WITH CHECK ADD  CONSTRAINT [FK_BinderFile_Binder] FOREIGN KEY([binder_ID])
REFERENCES [dbo].[Binder] ([binder_ID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[BinderFile] CHECK CONSTRAINT [FK_BinderFile_Binder]
GO
ALTER TABLE [dbo].[BinderFile]  WITH CHECK ADD  CONSTRAINT [FK_BinderFile_Files] FOREIGN KEY([file_ID])
REFERENCES [dbo].[Files] ([file_ID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[BinderFile] CHECK CONSTRAINT [FK_BinderFile_Files]
GO
ALTER TABLE [dbo].[BinderRole]  WITH CHECK ADD  CONSTRAINT [FK_BinderRole_Binder] FOREIGN KEY([binder_ID])
REFERENCES [dbo].[Binder] ([binder_ID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[BinderRole] CHECK CONSTRAINT [FK_BinderRole_Binder]
GO
ALTER TABLE [dbo].[CommMember]  WITH CHECK ADD  CONSTRAINT [FK_CommMember_Committee] FOREIGN KEY([comm_ID])
REFERENCES [dbo].[Committee] ([comm_ID])
GO
ALTER TABLE [dbo].[CommMember] CHECK CONSTRAINT [FK_CommMember_Committee]
GO
ALTER TABLE [dbo].[PersonBF]  WITH CHECK ADD  CONSTRAINT [FK_PersonBF_Binder] FOREIGN KEY([binder_ID])
REFERENCES [dbo].[Binder] ([binder_ID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[PersonBF] CHECK CONSTRAINT [FK_PersonBF_Binder]
GO
ALTER TABLE [dbo].[PersonBF]  WITH CHECK ADD  CONSTRAINT [FK_PersonBF_Files] FOREIGN KEY([file_ID])
REFERENCES [dbo].[Files] ([file_ID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[PersonBF] CHECK CONSTRAINT [FK_PersonBF_Files]
GO
ALTER TABLE [dbo].[PersonBF]  WITH CHECK ADD  CONSTRAINT [FK_PersonBF_Person] FOREIGN KEY([person_ID])
REFERENCES [dbo].[Person] ([person_ID])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[PersonBF] CHECK CONSTRAINT [FK_PersonBF_Person]
GO
USE [master]
GO
