html, body {
	margin: 0px;
	padding: 0px;
	background-color: #0b2a50;
	width: 100%;
	height: 100%;
	font-family: Tahoma, Geneva, sans-serif;
}

#ContentAndSidebarRegion {
	margin: 0px;
	padding: 0px;
	margin-top: 0px;
	min-width:860px;
	height:100%;
}

#ContentRegion {
	float:center;
	margin-left: 12px;
	margin-right: 12px;
	min-height:100%;
	min-width: 876px;
	background-color:#FFFFFF;
}

#Content {
	display: block;
	padding: 12px;
}

#IntroParagraph {
	margin: auto;
	color:#333333;
	width:75%;
}
	
/* 
#PDFViewer {
	width = 500px;
	float:left;
	padding:10px;
}
*/

h1 {
	font-size: 26px;
	color:#000000;
}
h2 {
	font-size: 18px;
	color:#000000;
}
h3 {
	font-size: 24px;
	color:#FFFFFF;
}

/* 
.StyleTxtField {
	border: 1px solid #666666;
	border-radius:6px;
	font-size:16px;
	width:250px;
	height:auto;
	padding-left:6px;
}
*/
