<!DOCTYPE html>
<!--
file:	login.html
author: Richard Riley
date:	12/16/15 (updated)
desc:	Login page HTML with DEMO section included for presentation
-->

<html>
<head>
	<!-- Will need to restate once CSS files have a directory -->	
	<link rel="stylesheet" type="text/css" href="login.css">
	<title>eRPT Login</title>
	
	<!-- Will need to restate these once JS files have a directory -->
	<script src="angular.min.js"></script>
	<script src="loginController.js"></script>
</head>

<body>
<div id="login-holder" ng-app="Login" ng-controller="LoginCtrl">
	<br>
	<img id="logo" src="images/eRPT_2.2.png">
	<br>
	<form class="center" ng-submit="login()">
		<br>
		<input type="text" name="uname" maxlength="64" autofocus placeholder="Username" class="StyleTxtField"
		required ng-model="credentials.username">
		<br>
		<input type="password" name="pswd" maxlength="64" placeholder="Password" class="StyleTxtField" required 
		ng-model="credentials.password">
		<br>
		<br>
		<input style="background-color: #993333; color: white;" type="submit" value="Submit">
		<br>
		<br>
	</form>
</div>
</body>
</html>
