body {
	background: url("college_hall.jpg");
    background-size: cover;
    background-repeat: no-repeat;
	font-family: Tahoma, Geneva, sans-serif;
}

p {
	font-size: 14px;
	color: #181818;
}

input {
	color: #181818;
	line-height: 1.1;
}

h2 {
	font-size: 24px;
}

#login-holder {
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	border-radius: 12px;
	margin: auto;
	width: 400px;
	border: 3px solid #0b2a50;
	background-color: #e4e8f1;			/* DO NOT CHANGE THIS COLOR */
	
}

#logo {
	display:block;
	margin:auto;
	width:218px; 
	height:134px;
}

.center {
	text-align: center;
}
